<?xml version='1.0' encoding='utf-8'?>
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="dialect">
            org.hibernate.dialect.H2Dialect
        </property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:mem:default</property>
        <mapping class = "ca.sfu.teambeta.core.Player" />
    </session-factory>

</hibernate-configuration>