

.header {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    flex-flow: row;
}

.header-item {
    flex: 1;
    height: 8vh;
    align-items: center;
}

.header-initial {
    align-self: flex-start;
    margin: auto;
    margin-left: 20px;
    font-size: 4em;
}

.header-mid {
    text-align: center;
    font-size: 1em;
}

.header-right {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.header-button {
    margin: 5px;
}

.ladder {
    padding: 20px 15px 10px;
    display: flex;
    height: 57.5em;
    flex-flow: column wrap;
    vertical-align: text-top;
    align-items: center;
}

.ladder-element {
    width: 47%;
    height: 4em;
    align-items: center;
}

.pair-name {
    font-weight: bold;
    text-align: start;
}

#timeSelect {
    font-size: x-small;
    float: right;
    clear: right;
    text-decoration: underline;
}

#timeSelectModalContent {
    margin: 50% auto;
    padding: 20px;
    width: 50%;
    border: 2px solid;
    border-color: #03a9f4;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.position {
    margin-right: 10px;
    font-size: 1.2em;
    width: 30px;
}

.toggle-button {
    float: right;
    margin: 0;
}

.edit-button {
    float: right;
    margin: -10px;
}

.matches-container {
    margin: 10px;
    margin-top: 20px;
    background: #f2f2f2;
}

.matches-container-tabs {
    margin-bottom: 15px;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav-tabs > li {
    flex: 1;
    margin-bottom: -1px;
    background-color: #03a9f4;
    /*just remove above color to revert*/
}

.nav-tabs > li.active {
    background-color: #0398db;
    /*old colour was #26A69A; just change back to revert*/
}

.matches-tabs {
    width: 100%;
    text-align: center;
}

.matches {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: auto;
    margin-top: 2em;
    width: 90vw;
}

.match-item {
    flex: 1;
    flex-basis: 30%;
    max-width: 28vw;
    margin: 1vw;
    margin-top: 0;
}

.matches-left {
    flex: 1;
    margin: 20px;
}

.matches-mid {
    flex: 1;
    margin: 20px;
}

.matches-right {
    flex: 1;
    margin: 20px;
}

.match-pair {
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
}

.match-pair-left {
    flex: 1;
}

.match-pair-right {
    display: flex;
    justify-content: flex-end;
}

.match-pair-button {

}

.modal-pair {
    height: 40px;
}

.modal-dropdown {
    margin: 0;
    padding: 5px
}

.modal-dropdown-group {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.container_row {
    border: 1px solid red;
    height: 50px;
    margin: 0;
    position: relative;
}

.fade-transition {
    transition: opacity .3s ease;
}

.fade-enter, .fade-leave {
    opacity: 0;
}

/**Modal Component CSS**/
.mymodal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
}

.mymodal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.mymodal-container {
    width: 800px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.mymodal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.mymodal-body {
    margin: 20px 0;
}

.mymodal-default-button {
    float: right;
}

.mymodal-enter, .mymodal-leave {
    opacity: 0;
    display: none;
}

.mymodal-enter .mymodal-container,
.mymodal-leave .mymodal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    display: none;
}

.match-heading {
    display: flex;
    align-items: center;
}

.match-title {
    flex: 1;
}

.loginwrapper {
    display: flex;
    justify-content: center;
}

.login {
    width: 500px;
    padding: 20px 15px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.modal-form-group {
    margin: 0px;
}

.modal-button-left {
    float: left;
}

.pages-container{
    text-align: center;
    align-self:center;
}

.pages-buttons {
    display: inline-block;
}

.pages-buttons:hover {
    cursor: pointer;
}

@media screen and (max-width: 1030px) {
    .match-item {
        flex-basis: 47%;
        max-width: 43vw;
    }
}

@media screen and (max-width: 767px) {

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-item {
        height: 7vh;
    }

    .header-initial {
        text-align: center;
        margin: auto;
        margin-left: -5px;
    }

    .header-right {
        justify-content: center;
    }

    .ladder {
        flex-flow: row wrap;
        justify-content: center;
        align-content: flex-start;
        height: 112em;
    }
    .ladder-element {
        width:80%
    }

    .match-item {
        flex-basis: 80vw;
        max-width: 90vw;
    }
}
