{% extends "templates/base.html" %}
{% set page = "Groups" %}
{% block title %} Groups {% endblock %}

{% block vuecomponents %}
{% verbatim %}
<script type="x/template" id="matchesModalTemplate">
    <div class="mymodal-mask" v-show="show" transition="matches">
        <div class="mymodal-wrapper">
            <div id="modal{{$index}}" v-for="match in matchlist" v-if="modalActiveContent($index)">
                <div class="modal-dialog">
                    <div class="modal-content mymodal-content">
                        <div class="modal-header">
                            Edit Group {{ match.scorecardIndex + 1 }}
                        </div>

                        <div class="modal-body">
                            <div class="modal-pair-listing">
                                <div class="mi-header">
                                    <div class="mi-header-body">
                                        <span class="position-label"> </span>
                                        <span class="mi-header-teamname"> TEAM NAME </span>
                                        <span class="mi-header-ranking"> POST-MATCH RANKING</span>
                                    </div>
                                    <span class="mi-header-filler-end"> </span>
                                </div>
                            </div>
                            <div class="modal-pair-listing"
                                 v-for="(pairIndex, pair) in match.pairs">
                                <div class="pair-name match-pair-left">
                                    <span class="label label-info position-label ">{{ $index + 1 }}</span>
                                    <div class="team-name modal-listing-item">
                                            <span>
                                                {{ pair.players[0].firstName }} {{pair.players[0].lastName }} /
                                            </span>
                                            <span>
                                                {{ pair.players[1].firstName }} {{pair.players[1].lastName}}
                                            </span>
                                    </div>
                                    </span>
                                        <span class="dropdown">
                                            <select class="col-sm-6 dropdown-item modal-listing-item"
                                                    style="margin-right: 10px; padding: 5px"
                                                    v-model="match.results[pairIndex]">
                                               <option v-for="(pairIndex, pair2) in match.pairs"
                                                       v-bind:value="{ pairId: pair.id, newRanking: pairIndex + 1, beenPlayed: true }">
                                                   {{ pairIndex + 1 }}
                                               </option>
                                            </select>
                                        </span>
                                </div>
                                <div class="match-pair-right">
                                    <button class="btn btn-xs btn-danger"
                                            v-bind:class="pair.latePenalty"
                                            @click="applyPenalty(match.gameSession, pair, 'late', $event)">
                                        Late
                                    </button>
                                    <button class="btn btn-xs btn-danger"
                                            v-bind:class="pair.absentPenalty"
                                            @click="applyPenalty(match.gameSession, pair, 'miss', $event)">
                                        Absent
                                    </button>
                                    <button class="btn btn-danger btn-fab btn-fab-mini glyphicon glyphicon-remove"
                                            id="removePairInMatch"
                                            @click="removeMatchPair(pair, match.gameSession)">
                                    </button>
                                </div>
                            </div>
                            <div class="alert alert-warning" style="margin-top: 10px"
                                 v-if="!match.resultsValid">
                                Please enter post match rankings for all teams.
                            </div>
                            <div class="alert alert-success" style="margin-top: 10px"
                                 v-if="match.resultsValid">
                                You are good to go!
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-default" @click="closeModal()"
                                    data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary"
                                    @click="saveChanges(match.gameSession, $index)"
                                    :disabled="!match.resultsValid">Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="x/template" id="reorderLadderButtonTemplate">
    <div id="reorderAnimation" v-show="spinnerVisible">
        <clip-loader :color="#03a9f4"></clip-loader>
    </div>
    <button class="btn btn-raised btn-success header-button" v-else v-on:click="saveResults()"
            id="reorderLadderButton" disabled="{{ disabled }}">Reorder Ladder
    </button>
</script>

<script type="x/template" id="matchesComponentTemplate">
    <div class="matches">
        <div class="match-item" v-for="match in matches">
            <div class="panel"
                 v-bind:class="{ 'panel-info': !match.isDone, 'panel-success': match.isDone }">
                <div id="match{{match.scorecardIndex}}" class="match-heading panel-heading">
                    <h3 class="match-title panel-title">Group {{ match.scorecardIndex + 1 }}</h3>
                    <h3 class="match-title panel-title" style="text-align: right">
                        {{match.timeSlot}}</h3>
                    <component :is="mode" column="left" :index="$index" transition="fade"
                               transition-mode="out-in">
                    </component>
                </div>
                <div class="panel-body">
                    <div class="pair-name match-pair" v-for="pair in match.pairs">
                        <div class="col-sm-1 label label-info position">{{ $index + 1 }}
                        </div>
                        <div>
                            {{ pair.players[0].firstName }}
                            {{ pair.players[0].lastName }} and
                            {{ pair.players[1].firstName }}
                            {{ pair.players[1].lastName }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <matches-modal :show.sync="showModal" :matchlist="matches"
                       :active.sync="active"></matches-modal>
    </div>
</script>
{% endverbatim %}
{% endblock %}

{% block content %}
{% verbatim %}
<div id="header" class="header">
    <div class=header-item>
        <h1 class="header-initial">{{ title }}</h1></div>
    <div class="header-right header-item" style="margin-top: 20px;">
        <a href="matchestemplate.html" class="btn btn-raised btn-primary header-button">Print
            Groups</a>
        <div v-if="mode === 'edit' && role === 'ADMINISTRATOR'" transition="fade"
             transition-mode="out-in" class="header-button">
            <reorder-ladder-button></reorder-ladder-button>
        </div>
        <a v-on:click="onClick()" class="btn btn-raised btn-primary header-button">{{ buttonTitle
            }}</a>
    </div>
</div>

<div id="tabs" class="panel panel-primary matches-container">
    <ul class="nav nav-tabs matches-container-tabs" style="margin-bottom: 15px;">
        <li class=""><a class="matches-tabs" href="#lastweek" data-toggle="tab"
                        aria-expanded="false" @click="setActive('previous')">Last Week
            <div class="ripple-container"></div>
        </a></li>
        <li class="active"><a class="matches-tabs" href="#thisweek" data-toggle="tab"
                              aria-expanded="true" @click="setActive('latest')">This Week
            <div class="ripple-container"></div>
        </a></li>
    </ul>
    <div id="tabContent" class="tab-content">
        <div class="tab-pane fade" id="lastweek">
            <matches game-session="previous"></matches>
        </div>
        <div class="tab-pane fade active in" id="thisweek">
            <matches game-session="latest"></matches>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
<script src="vendors/jquery-1.12.4.js"></script>
<script src="vendors/vue.js"></script>
<script src="vendors/vue-validator.js"></script>
<script src="vendors/jscookie.js"></script>
<script src="vendors/vue-spinner.js"></script>
<script src="vendors/bootstrap.js"></script>
<script src="vendors/material.js"></script>
<script src="vendors/ripples.js"></script>
<script src="js/api.js"></script>
<script src="js/navbar.js"></script>
<script src="js/header.js"></script>
<script src="js/matches.js"></script>
<script src="js/matchloader.js"></script>
<script src="js/logout.js"></script>
{% endblock %}
