{% extends "templates/base.html" %}

{% block title %} Ladder {% endblock %}

{% block content %}
{% verbatim %}
<div id="header" class="header">
    <div class=header-item>
        <h1 class="header-initial">Ladder</h1></div>
    <div class="header-item"><h1 class="header-mid">Last modified on {{ timestamp }}</h1></div>

    <div class="header-right header-item">
        <component :is="mode" transition="fade" transition-mode="out-in"
                   v-if="role === 'ADMINISTRATOR'">
        </component>
        <a v-if="mode == 'edit'" v-if="role === 'ADMINISTRATOR'" href="api/ladder/download"
           title="Download Ladder" id="downloadBtn"
           class="btn btn-raised btn-primary header-button">
            <i class="glyphicon glyphicon-download-alt"></i>
        </a>
        <a v-if="mode == 'edit'" v-if="role === 'ADMINISTRATOR'" v-on:click="uploadLadder()"
           title="Upload Ladder" id="uploadLadderBtn"
           class="btn btn-raised btn-primary header-button">
            <i class="glyphicon glyphicon-upload"></i>
        </a>
        <a v-on:click="onClick()" v-if="role === 'ADMINISTRATOR'"
           class="btn btn-raised btn-primary header-button">{{ buttonTitle }}</a>
    </div>
    <div id="uploadModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h3 class="modal-title">Upload Ladder</h3>
                </div>
                <div class="modal-body">
                    <form method="POST" action="api/ladder/upload" enctype="multipart/form-data">
                        File:
                        <input type="file" name="csv_file" id="file" accept=".csv"/>
                        <br/>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Upload"
                                   name="upload"
                                   id="uploadBtn"/>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div id="ladder">
    <div class="pages-container">
        <ul class="pagination pages-buttons">
            <li v-for="entry in ladderPages">
                <page-button :index="$index + 1"></page-button>
            </li>
        </ul>
    </div>

    <div class="search-box-container">
        <input type="text" v-model="searchText" placeholder="Search" value="" class="search-box">
    </div>

    <div class="ladder">
        <div id="addPairModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h3 class="modal-title">Add Pair</h3>
                    </div>
                    <div class="modal-body">
                        <validator name="newPairPositionValidator"
                                   @valid="onValidityChanged('position', '', true)"
                                   @invalid="onValidityChanged('position', '', false)">
                            <div class="form-group modal-form-group" v-validate-class>
                                <label for="ladderPosition" class="col-md-2 control-label">Ladder
                                    Position</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="ladderPosition"
                                           v-model="newPairData.position"
                                           v-validate:position="['position']"
                                           :classes="{ invalid: 'has-error', }">
                                    <p class="help-block">Must be a valid number. Leave blank to
                                        insert the pair at the end of the ladder.</p>
                                </div>
                            </div>
                        </validator>
                        <h4>Player 1</h4>
                        <div class="form-group">
                            <div class="radio radio-primary">
                                <label>
                                    <input type="radio" name="player1Radios"
                                           v-model="newPairData.player1.type" value="new">
                                    New player
                                </label>
                            </div>
                            <div class="radio radio-primary">
                                <label>
                                    <input type="radio" name="player1Radios"
                                           v-model="newPairData.player1.type" value="existing">
                                    Existing player
                                </label>
                            </div>
                        </div>
                        <div v-show="newPairData.player1.type === 'new'">
                            <validator name="newPairPlayer1Validator"
                                       @valid="onValidityChanged('player1', 'new', true)"
                                       @invalid="onValidityChanged('player1', 'new', false)">
                                <div class="form-group modal-form-group" v-validate-class>
                                    <label for="player1First" class="col-md-2 control-label">First
                                        Name</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="player1First"
                                               v-model="newPairData.player1.firstName"
                                               v-validate:firstname="['required','alpha']"
                                               :classes="{ invalid: 'has-error', }">
                                        <p class="help-block"
                                           v-if="$newPairPlayer1Validator.firstname.invalid">
                                            Required field. Alphabetic characters only.</p>
                                    </div>
                                </div>
                                <div class="form-group modal-form-group" v-validate-class>
                                    <label for="player1Last" class="col-md-2 control-label">Last
                                        Name</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="player1Last"
                                               v-model="newPairData.player1.lastName"
                                               v-validate:lastname="['alphaEmpty']"
                                               :classes="{ invalid: 'has-error', }">
                                        <p class="help-block"
                                           v-if="$newPairPlayer1Validator.lastname.invalid">
                                            Alphabetic characters only.</p>
                                    </div>
                                </div>
                                <div class="form-group modal-form-group" v-validate-class>
                                    <label for="player1Phone" class="col-md-2 control-label">Phone
                                        Number</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="player1Phone"
                                               v-model="newPairData.player1.phoneNumber"
                                               v-validate:phone="['phone']"
                                               :classes="{ invalid: 'has-error', }">
                                        <p class="help-block"
                                           v-if="$newPairPlayer1Validator.phone.invalid">Must be a
                                            standard 10 digit phone number.</p>
                                    </div>
                                </div>
                            </validator>
                        </div>
                        <div v-show="newPairData.player1.type === 'existing'">
                            <v-select label="label" :value.sync="newPairData.player1.existingPlayer"
                                      :options="players"
                                      placeholder="Search for a player..."></v-select>
                        </div>
                        <h4>Player 2</h4>
                        <div class="form-group">
                            <div class="radio radio-primary">
                                <label>
                                    <input type="radio" name="player2Radios"
                                           v-model="newPairData.player2.type" value="new">
                                    New player
                                </label>
                            </div>
                            <div class="radio radio-primary">
                                <label>
                                    <input type="radio" name="player2Radios"
                                           v-model="newPairData.player2.type" value="existing">
                                    Existing player
                                </label>
                            </div>
                        </div>
                        <div v-show="newPairData.player2.type === 'new'">
                            <validator name="newPairPlayer2Validator"
                                       @valid="onValidityChanged('player2', 'new', true)"
                                       @invalid="onValidityChanged('player2', 'new', false)">
                                <div class="form-group modal-form-group" v-validate-class>
                                    <label for="player2First" class="col-md-2 control-label">First
                                        Name</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="player2First"
                                               v-model="newPairData.player2.firstName"
                                               v-validate:firstname="['required','alpha']"
                                               :classes="{ invalid: 'has-error', }">
                                        <p class="help-block"
                                           v-if="$newPairPlayer2Validator.firstname.invalid">
                                            Required field. Alphabetic characters only.</p>
                                    </div>
                                </div>
                                <div class="form-group modal-form-group" v-validate-class>
                                    <label for="player2Last" class="col-md-2 control-label">Last
                                        Name</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="player2Last"
                                               v-model="newPairData.player2.lastName"
                                               v-validate:lastname="['alphaEmpty']"
                                               :classes="{ invalid: 'has-error', }">
                                        <p class="help-block"
                                           v-if="$newPairPlayer2Validator.lastname.invalid">
                                            Alphabetic characters only.</p>
                                    </div>
                                </div>
                                <div class="form-group modal-form-group" v-validate-class>
                                    <label for="player2Phone" class="col-md-2 control-label">Phone
                                        Number</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="player2Phone"
                                               v-model="newPairData.player2.phoneNumber"
                                               v-validate:phone="['phone']"
                                               :classes="{ invalid: 'has-error', }">
                                        <p class="help-block"
                                           v-if="$newPairPlayer2Validator.phone.invalid">Must be a
                                            standard 10 digit phone number.</p>
                                    </div>
                                </div>
                            </validator>
                        </div>
                        <div v-show="newPairData.player2.type === 'existing'">
                            <v-select label="label" :value.sync="newPairData.player2.existingPlayer"
                                      :options="players"
                                      placeholder="Search for a player..."></v-select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                        </button>
                        <button id="newPairSave" type="button" class="btn btn-success"
                                v-on:click="onAdd" disabled="disabled">Add pair
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default ladder-element"
             v-for="entry in currentPage | filterBy searchText in 'teamName'">
            <div class="panel-body">
                <div class="pair-name flex-row">
                    <div class="label label-info position"
                         style="width: 2.5em; height: 2.2em; text-align: center; margin-right: 20px;">
                        <span style="display: inline-block; line-height: 1.5em;">{{ entry.position }}</span>
                    </div>
                    <span v-if="entry.positionChange > 0" class="position-arrow arrow-up">&#9650{{ entry.positionChange }}  </span>
                    <span v-if="entry.positionChange < 0" class="position-arrow arrow-down">&#9660{{ -entry.positionChange }}  </span>
                    <div class="flex-row-element" style="flex: 2;">

            <span>
              {{ entry.p1Name }} <br>
              {{ entry.p2Name }}
            </span>
                    </div>
                    <div>
                        <component :is="entry.playingStatus" :index="entry.position - 1"
                                   transition="fade" transition-mode="out-in">
                        </component>
                        <time-select-button v-if="entry.playingStatus == 'playing'"
                                            v-on:click=fillTimeModal(entry.position-1)
                                            class="btn btn-raised btn-xs toggle-button"></time-select-button>
                    </div>

                    <div id="timeSelectModal{{entry.position - 1}}" class="modal">
                        <div class="modal-dialog">
                            <div id="timeSelectModalContent" class="modal-content">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×
                                </button>
                                <h6>Leave empty if you do not have a preference.</h6>
                                <label><input id="checkbox8pm{{entry.position - 1}}"
                                              type="checkbox">
                                    <label class="checkbox-label">Thursday, 08:00
                                        pm.</label></label><br>
                                <label><input id="checkbox9pm{{entry.position - 1}}"
                                              type="checkbox">
                                    <label class="checkbox-label">Thursday, 09:30
                                        pm.</label></label>
                                <div id="time-modal-footer" class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">Cancel
                                    </button>
                                    <button type="button" class="btn btn-success"
                                            id="timeSaveButton{{entry.position - 1}}"
                                            v-on:click="setTime(entry.position - 1)">Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <validator name="pairValidator">
                        <div id="modal{{ entry.position - 1 }}" class="modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×
                                        </button>
                                        <h3 class="modal-title">Edit Pair</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group modal-form-group" v-validate-class>
                                            <h4 for="ladderPosition" class="col-md-2">Ladder
                                                Position</h4>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control"
                                                       id="ladderPosition"
                                                       v-model="entry.newPosition"
                                                       value="{{ entry.position }}"
                                                       v-validate:position="['required', 'position']"
                                                       :classes="{ invalid: 'has-error', }"
                                                       @valid="onValid('#editPairSave' + (entry.position - 1))"
                                                       ,
                                                       @invalid="onInvalid('#editPairSave' + (entry.position - 1))">
                                                <p class="help-block">Position must be greater than
                                                    0.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button"
                                                class="btn btn-danger modal-button-left"
                                                v-on:click="onDelete(entry.position - 1)">Delete
                                            pair
                                        </button>
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Close
                                        </button>
                                        <button id="editPairSave{{ entry.position - 1 }}"
                                                type="button" class="btn btn-success"
                                                v-on:click="onUpdate(entry.position - 1)"
                                                disabled="disabled">
                                            Save changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </validator>
                </div>
            </div>
        </div>
        <div class="filler ladder-element"></div>
    </div>
    <div class="pages-container">
        <ul class="pagination pages-buttons">
            <li v-for="entry in ladderPages">
                <page-button :index="$index + 1"></page-button>
            </li>
        </ul>
    </div>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
<script src="vendors/jquery-1.12.4.js"></script>
<script src="vendors/vue.js"></script>
<script src="vendors/vue-validator.js"></script>
<script src="vendors/vue-select.js"></script>
<script src="vendors/jscookie.js"></script>
<script src="vendors/vue-spinner.js"></script>
<script src="vendors/bootstrap.js"></script>
<script src="vendors/material.js"></script>
<script src="vendors/ripples.js"></script>
<script src="js/api.js"></script>
<script src="js/navbar.js"></script>
<script src="js/header.js"></script>
<script src="js/ladder.js"></script>
<script src="js/ladderloader.js"></script>
<script src="js/logout.js"></script>
{% endblock %}
