  <!DOCTYPE html>
  <html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vancouver Racquets Club</title>

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap-material/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="bootstrap-material/dist/css/ripples.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/prj-web.css" rel="stylesheet">

  </head>

  <body>

  <nav class="navbar navbar-info">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Vancouver Racquets Club</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Ladder</a></li>
          <li><a href="matches.html">Matches</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="logout_nav" href="login.html">Log Out</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <div id="header" class="header">
    <div class = header-item>
      <h1 class="header-initial">{{ title }}</h1></div>
    <div class="header-item"><h1 class = "header-mid">Last modified on {{ timestamp }}</h1></div>
    <div class="header-right header-item">
      <div class = "header-button">
        <component :is="mode" transition="fade" transition-mode="out-in">
        </component>
        <a v-on:click="onClick()" class="btn btn-raised btn-primary ">{{ buttonTitle }}</a>
      </div>
    </div>
  </div>

  <div id="ladder" >
    <div class="pages-container">
      <ul class="pagination pages-buttons">
        <li v-for="entry in ladderPages">
          <page-button :index="$index + 1"></page-button>
        </li>
      </ul>
    </div>

  <div class="ladder">
      <div id="addPairModal" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 class="modal-title">Add Pair</h3>
            </div>
            <validator name="newPairValidator" @valid="onValid('#newPairSave')" @invalid="onInvalid('#newPairSave')">
              <div class="modal-body">
                <div class="form-group modal-form-group" v-validate-class>
                  <label for="ladderPosition" class="col-md-2 control-label">Ladder Position</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="ladderPosition" v-model="newPairData.position"
                           v-validate:position="['position']" :classes="{ invalid: 'has-error', }">
                    <p class="help-block">Must be a valid number. Leave blank to insert the pair at the end of the ladder.</p>
                  </div>
                </div>
                <h4>Player 1</h4>
                <div class="form-group modal-form-group" v-validate-class>
                  <label for="player1First" class="col-md-2 control-label">First Name</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="player1First" v-model="newPairData.player1.firstName"
                           v-validate:p1firstname="['required','alpha']" :classes="{ invalid: 'has-error', }">
                    <p class="help-block" v-if="$newPairValidator.p1firstname.invalid">Required field. Alphabetic characters only.</p>
                  </div>
                </div>
                <div class="form-group modal-form-group" v-validate-class>
                  <label for="player1Last" class="col-md-2 control-label">Last Name</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="player1Last" v-model="newPairData.player1.lastName"
                           v-validate:p1lastname="['alphaEmpty']" :classes="{ invalid: 'has-error', }">
                    <p class="help-block" v-if="$newPairValidator.p1lastname.invalid">Alphabetic characters only.</p>
                  </div>
                </div>
                <div class="form-group modal-form-group" v-validate-class>
                  <label for="player1Phone" class="col-md-2 control-label">Phone Number</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="player1Phone" v-model="newPairData.player1.phoneNumber"
                           v-validate:p1phone="['phone']" :classes="{ invalid: 'has-error', }">
                    <p class="help-block" v-if="$newPairValidator.p1phone.invalid">Must be a standard 10 digit phone number.</p>
                  </div>
                </div>
                <h4>Player 2</h4>
                <div class="form-group modal-form-group" v-validate-class>
                  <label for="player2First" class="col-md-2 control-label">First Name</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="player2First" v-model="newPairData.player2.firstName"
                           v-validate:p2firstname="['required','alpha']" :classes="{ invalid: 'has-error', }">
                    <p class="help-block" v-if="$newPairValidator.p2firstname.invalid">Required field. Alphabetic characters only.</p>
                  </div>
                </div>
                <div class="form-group modal-form-group" v-validate-class>
                  <label for="player2Last" class="col-md-2 control-label">Last Name</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="player2Last" v-model="newPairData.player2.lastName"
                           v-validate:p2lastname="['alphaEmpty']" :classes="{ invalid: 'has-error', }">
                    <p class="help-block" v-if="$newPairValidator.p2lastname.invalid">Alphabetic characters only.</p>
                  </div>
                </div>
                <div class="form-group modal-form-group" v-validate-class>
                  <label for="player2Phone" class="col-md-2 control-label">Phone Number</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="player2Phone" v-model="newPairData.player2.phoneNumber"
                           v-validate:p2phone="['phone']" :classes="{ invalid: 'has-error', }">
                    <p class="help-block" v-if="$newPairValidator.p2phone.invalid">Must be a standard 10 digit phone number.</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="newPairSave" type="button" class="btn btn-success" v-on:click="onAdd" disabled="disabled">Add pair</button>
              </div>
            </validator>
          </div>
        </div>
      </div>
      <validator name="pairValidator">
        <div class="panel panel-default ladder-element" v-for="entry in currentPage">
          <div class="panel-body">
            <div class="pair-name">
              <span class="label label-info position">{{ entry.position }}</span>
                <span v-if="entry.positionChange > 0" style="color:green">&#9650{{ entry.positionChange }}  </span>
                <span v-if="entry.positionChange < 0" style="color:red">&#9660{{ -entry.positionChange }}  </span>
              {{ entry.teamName }}
                <component :is="entry.playingStatus" :index="entry.position - 1" transition="fade" transition-mode="out-in">
              </component>
              <div id="timeSelectModal{{entry.position - 1}}" style="display: none" class="modal">
                <div class="modal-dialog">
                  <div id="timeSelectModalContent" class="modal-content">
                    <span id="timeCloseBtn{{entry.position - 1}}" class="close">x</span>
                    <label><input id="checkbox8pm{{entry.position - 1}}" type="checkbox" value="first_checkbox" checked="true">
                      <label style="font-size: small;color: black">Thursday, 08:00 pm.</label></label><br>
                    <label><input id="checkbox9pm{{entry.position - 1}}" type="checkbox" value="second_checkbox">
                      <label style="color: black;font-size: small">Thursday, 09:30 pm.</label></label>
                    <button type="button" class="btn btn-success" id="timeSaveButton{{entry.position - 1}}" style="float: right"
                            v-on:click="setTime(entry.position - 1)">Save</button>
                  </div>
                </div>
              </div>

              <div id="modal{{ entry.position - 1 }}" class="modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h3 class="modal-title">Edit Pair</h3>
                    </div>
                    <div class="modal-body">
                      <div class="form-group modal-form-group" v-validate-class>
                        <h4 for="ladderPosition" class="col-md-2">Ladder Position</h4>
                        <div class="col-md-10">
                          <input type="text" class="form-control" id="ladderPosition" v-model="entry.newPosition" value="{{ entry.position }}"
                                 :field="entry.teamName" v-validate="['required', 'position']" :classes="{ invalid: 'has-error', }"
                                 @valid="onValid('#editPairSave' + (entry.position - 1))", @invalid="onInvalid('#editPairSave' + (entry.position - 1))">
                          <p class="help-block">Position must be greater than 0.</p>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger modal-button-left" v-on:click="onDelete(entry.position - 1)">Delete pair</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button id="editPairSave{{ entry.position - 1 }}" type="button" class="btn btn-success" v-on:click="onUpdate(entry.position - 1)" disabled="disabled">
                        Save changes
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </validator>
    </div>
    <div class="pages-container">
      <ul class="pagination pages-buttons">
        <li v-for="entry in ladderPages">
          <page-button :index="$index + 1"></page-button>
        </li>
      </ul>
    </div>
  </div>

  </body>

  <!-- Scripts run after DOM is loaded -->
  <script src="vendors/jquery-1.12.4.js"></script>
  <script src="vendors/vue.js"></script>
  <script src="vendors/vue-validator.js"></script>
  <script src="vendors/bootstrap.js"></script>
  <script src="vendors/material.js"></script>
  <script src="vendors/ripples.js"></script>
  <script src="js/api.js"></script>
  <script src="js/header.js"></script>
  <script src="js/ladder.js"></script>
  <script src="js/ladderloader.js"></script>
  <script src="js/logout.js"></script>
  <script>
    $(function () {
      $('#last-page-button').on('click', function(){
        alert("Hey!");
      });
    });
  </script>


  </html>
