<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vancouver Racquets Club</title>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap-material/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="bootstrap-material/dist/css/ripples.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/prj-web.css" rel="stylesheet">

  </head>

  <body>

      <nav class="navbar navbar-info">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Vancouver Racquets Club</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="index.html">Ladder</a></li>
              <li><a href="matches.html">Matches</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="login.html">Login</a></li>
            </ul>
          </div>

        </div>
      </nav>

      <div id="header" class="header">
        <h1 class="header-initial">{{ title }}</h1>
        <div class="header-mid"><h5>Last modified on {{ timestamp }}</h5></div>
        <div class="header-right">
          <component :is="mode" transition="fade" transition-mode="out-in">
          </component>
          <a v-on:click="onClick()" class="btn btn-raised btn-primary header-button">{{ buttonTitle }}</a>
        </div>
      </div>

      <div id="ladder" class="ladder">
        <div id="addPairModal" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Add Pair</h3>
              </div>
              <div class="modal-body">
                <div class="form-group modal-form-group">
                  <label for="ladderPosition" class="col-md-2 control-label">Ladder Position</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="ladderPosition" v-model="newPairData.position">
                    <p class="help-block">Leave blank to insert the pair at the end of the ladder.</p>
                  </div>
                </div>
                <h4>Player 1</h4>
                <div class="form-group modal-form-group">
                  <label for="player1First" class="col-md-2 control-label">First Name</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="player1First" v-model="newPairData.player1.firstName">
                  </div>
                </div>
                <div class="form-group modal-form-group">
                  <label for="player1Last" class="col-md-2 control-label">Last Name</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="player1Last" v-model="newPairData.player1.lastName">
                  </div>
                </div>
                <div class="form-group modal-form-group">
                  <label for="player1Phone" class="col-md-2 control-label">Phone Number</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="player1Phone" v-model="newPairData.player1.phoneNumber">
                  </div>
                </div>
                <h4>Player 2</h4>
                <div class="form-group modal-form-group">
                  <label for="player2First" class="col-md-2 control-label">First Name</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="player2First" v-model="newPairData.player2.firstName">
                  </div>
                </div>
                <div class="form-group modal-form-group">
                  <label for="player2Last" class="col-md-2 control-label">Last Name</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="player2Last" v-model="newPairData.player2.lastName">
                  </div>
                </div>
                <div class="form-group modal-form-group">
                  <label for="player2Phone" class="col-md-2 control-label">Phone Number</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="player2Phone" v-model="newPairData.player2.phoneNumber">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" v-on:click="onAdd">Add pair</button>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default ladder-element" v-for="entry in ladder">
          <div class="panel-body">
            <div class="pair-name">
            <span class="label label-info position">{{ entry.position }}</span>
              {{ entry.teamName }}
              <component :is="entry.playingStatus" :index="$index" transition="fade" transition-mode="out-in">
              </component>
              <div id="modal{{ $index }}" class="modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h3 class="modal-title">Edit Pair</h3>
                    </div>
                    <div class="modal-body">
                      <div class="form-group modal-form-group">
                        <h4 for="ladderPosition" class="col-md-2">Ladder Position</h4>
                        <div class="col-md-10">
                          <input type="text" class="form-control" id="ladderPosition" value="{{ entry.position }}">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger modal-button-left" v-on:click="onDelete($index)">Delete pair</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-success">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

  </body>

  <!-- Scripts run after DOM is loaded -->
  <script src="vendors/jquery-1.12.4.js"></script>
  <script src="vendors/vue.js"></script>
  <script src="vendors/bootstrap.js"></script>
  <script src="vendors/material.js"></script>
  <script src="vendors/ripples.js"></script>
  <script src="js/api.js"></script>
  <script src="js/header.js"></script>
  <script src="js/ladder.js"></script>
  <script src="js/ladderloader.js"></script>

</html>
