<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vancouver Racquets Club</title>

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap-material/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="bootstrap-material/dist/css/ripples.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/prj-web.css" rel="stylesheet">

  </head>

  <body>

      <nav class="navbar navbar-info">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Vancouver Racquets Club</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="login.html">Login</a></li>
              <li><a href="registration.html">Sign Up</a></li>
            </ul>
          </div>


        </div>
      </nav>

      <div class="loginwrapper">
        <div id="loginForm" class="login panel panel-default">
          <validator name="loginFormValidator" @valid="onValid" @invalid="onInvalid">
            <form class="form-horizontal" v-on:submit.prevent="onSubmit($event)">
              <fieldset>
                <legend>Login</legend>
                <div class="form-group label-floating" v-validate-class>
                  <label for="inputEmail" class="control-label">Email</label>
                  <input type="text" class="form-control" id="inputEmail" v-model="email"
                         v-validate:email="['required', 'email']" initial="off"
                         :classes="{ invalid: 'has-error', }"
                         v-on:change="onEmailChange">
                  <p class="help-block" v-if="$loginFormValidator.email.invalid">You must enter a valid email.</p>
                  <p class="help-block" v-if="invalidCredentials">Please check your login
                    credentials and try again.</p>
                </div>
                <div class="form-group label-floating" v-validate-class>
                  <label for="inputPassword" class="control-label">Password</label>
                  <input type="password" class="form-control" id="inputPassword" v-model="password"
                   v-validate:password="['required']" initial="off" :classes="{ invalid: 'has-error', }">
                  <p class="help-block" v-if="$loginFormValidator.password.invalid">You must enter a valid password.</p>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" v-model="remember"> Remember me
                  </label>
                </div>
                <div class="col-md-10 center">
                  <button id="submitButton" type="submit" class="btn btn-success btn-raised" disabled="disabled">Submit</button>
                  <div id="loginAnimation" v-if="spinnerVisibility">
                    <clip-loader :color="color"></clip-loader>
                  </div>
                </div>
              </fieldset>
            </form>
          </validator>
        </div>
      </div>

  </body>

  <!-- Scripts run after DOM is loaded -->
  <script src="vendors/jquery-1.12.4.js"></script>
  <script src="vendors/vue.js"></script>
  <script src="vendors/vue-validator.js"></script>
  <script src="vendors/vue-spinner.js"></script>
  <script src="vendors/jscookie.js"></script>
  <script src="vendors/bootstrap.js"></script>
  <script src="vendors/material.js"></script>
  <script src="vendors/ripples.js"></script>
  <script src="js/header.js"></script>
  <script src="js/api.js"></script>
  <script src="js/login.js"></script>

</html>
