

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vancouver Racquets Club</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap-material/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="bootstrap-material/dist/css/ripples.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/prj-web.css" rel="stylesheet">

    <script type="x/template" id="matches-template">
        <div class="mymodal-mask" v-show="show" transition="matches">
            <div class="mymodal-wrapper">
                <div id="modal{{$index}}" v-for="match in matchlist" v-if="modalActiveContent($index)">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                Edit Match {{ match.scorecardIndex + 1 }}
                            </div>

                            <div class="modal-body">
                                <div class="match-pair" v-for="pair in match.pairs">
                                    <div class="pair-name match-pair-left">
                                        <span class="col-sm-1 label label-info position">{{ $index + 1 }}</span>
                                        <div>
                                            {{ pair.players[0].firstName }} and {{ pair.players[1].firstName }}
                                        </div>
                                        <span v-for="pair2 in match.pairs" style="position: relative; display: inline-block; vertical-align: top;">
                                            <span class="dropdown">
                                                <select class="btn btn-primary dropdown" style="margin: 0; padding: 5px" v-model="pair.results[$index]">
                                                    <option value="-">N/A</option>
                                                    <option value="W">Win</option>
                                                    <option value="L">Lose</option>
                                                </select>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="match-pair-right">
                                        <button class="btn btn-xs btn-danger" v-bind:class="{'btn-raised': pair.latePenalty}" @click="applyPenalty(pair, 'late', $event)">Late</button>
                                        <button class="btn btn-xs btn-danger" v-bind:class="{'btn-raised': pair.absentPenalty}" @click="applyPenalty(pair, 'miss', $event)">Absent</button>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-default" @click="closeModal()" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary" @click="saveChanges($index)">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>


</head>

<body>

<nav class="navbar navbar-info">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Vancouver Racquets Club</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Ladder</a></li>
                <li class="active"><a href="matches.html">Matches</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="login.html">Login</a></li>
            </ul>
        </div>

    </div>
</nav>

<div id="header" class="header">
    <h1 class="header-initial">{{ title }}</h1>
    <div class="header-mid"><h5>Last modified on {{ timestamp }}</h5></div>
    <div class="header-right">
        <component :is="mode" transition="fade" transition-mode="out-in">
        </component>
        <a v-on:click="onClick()" class="btn btn-raised btn-primary header-button">{{ buttonTitle }}</a>
    </div>
</div>

<div id="matches" class="matches">
    <div id="matches-left" class = "matches-left">
        <div v-for="match in matches">
            <div v-if = "(match.scorecardIndex % 3) == 0">
                <div class="panel panel-info">
                    <div id="match{{match.scorecardIndex}}" class="panel-info match-heading panel-heading ">
                        <h3 class="match-title panel-title">Match {{ match.scorecardIndex + 1 }}</h3>
                        <component :is="mode" column="left" :index="$index" transition="fade" transition-mode="out-in">
                        </component>
                    </div>
                    <div class="panel-body">
                       <div class="pair-name match-pair" v-for="pair in match.pairs">
                            <div class="col-sm-1 label label-info position">{{ $index + 1 }}</div>
                            <div>
                                {{ pair.players[0].firstName }} and {{ pair.players[1].firstName }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="matches-mid" class = "matches-mid">
        <div v-for="match in matches">
            <div v-if = "(match.scorecardIndex % 3) == 1">
                <div class="panel panel-info">
                    <div id="match{{match.scorecardIndex}}" class="panel-info match-heading panel-heading ">
                        <h3 class="match-title panel-title">Match {{ match.scorecardIndex + 1 }}</h3>
                        <component :is="mode" column="left" :index="$index" transition="fade" transition-mode="out-in">
                        </component>
                    </div>
                    <div class="panel-body">
                        <div class="pair-name match-pair" v-for="pair in match.pairs">
                            <div class="col-sm-1 label label-info position">{{ $index + 1 }}</div>
                            <div>
                            {{ pair.players[0].firstName }} and {{ pair.players[1].firstName }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="matches-mid" class = "matches-mid">
        <div v-for="match in matches">
            <div v-if = "(match.scorecardIndex % 3) == 2">
                <div class="panel panel-info">
                    <div id="match{{match.scorecardIndex}}" class="panel-info match-heading panel-heading ">
                        <h3 class="match-title panel-title">Match {{ match.scorecardIndex + 1 }}</h3>
                        <component :is="mode" column="left" :index="$index" transition="fade" transition-mode="out-in">
                        </component>
                    </div>
                    <div class="panel-body">
                        <div class="pair-name match-pair" v-for="pair in match.pairs">
                            <div class="col-sm-1 label label-info position">{{ $index + 1 }}</div>
                            <div>
                            {{ pair.players[0].firstName }} and {{ pair.players[1].firstName }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <matches :show.sync="showModal" :matchlist="matches" :active.sync="active"></matches>
</div>
</body>
<script src="vendors/jquery-1.12.4.js"></script>
<script src="vendors/vue.js"></script>
<script src="vendors/bootstrap.js"></script>
<script src="vendors/material.js"></script>
<script src="vendors/ripples.js"></script>
<script src="js/api.js"></script>
<script src="js/header.js"></script>
<script src="js/matches.js"></script>
<script src="js/matchloader.js"></script>

</html>
