<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vancouver Racquets Club</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap-material/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="bootstrap-material/dist/css/ripples.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/prj-web.css" rel="stylesheet">

    <script src="js/jquery-1.12.4.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="bootstrap-material/dist/js/material.js"></script>
    <script src="js/app.js"></script>
      <script src="js/vue.js"></script>


      <script type="x/template" id="modal-template">
          <div class="mymodal-mask" v-show="show" transition="mymodal">
              <div class="mymodal-wrapper">
                  <div class="mymodal-container">

                      <div class="mymodal-header">
                          <slot name="header">
                              default header
                          </slot>
                      </div>

                      <div class="mymodal-body">
                          <slot name="body">
                              default body
                          </slot>
                      </div>

                      <div class="mymodal-footer">
                          <slot name="footer">
                              default footer
                              <button class="mymodal-default-button"
                                      @click="show = false">
                                  OK
                              </button>
                          </slot>
                      </div>
                  </div>
              </div>
          </div>
      </script>

  </head>

  <body>

      <nav class="navbar navbar-info">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Vancouver Racquets Club</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Ladder</a></li>
              <li class="active"><a href="matches.html">Matches</a></li>
            </ul>
          </div>

        </div>
      </nav>

      <div class="header">
        <h1 class="header-initial">Matches</h1>
        <div class="header-right">
          <a onclick="test()" class="btn btn-raised btn-info toggle-button">Edit Matches</a>
        </div>
      </div>

      <div id="matches" div class="matches">
        <div class="matches-left">
          <div class="panel panel-success" v-for="match in matches">
            <div class="panel-heading">
              <h3 class="panel-title">Match {{ match.matchNum }}</h3>
            </div>
            <div class="panel-body">
              <div class="pair-name match-pair" v-for="pair in match.pairs">
                <span class="label label-info position">{{ pair.matchRanking }}</span>
                  {{ pair.name }}
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Match 7</h3>
            </div>
            <div class="panel-body">
              <div class="pair-name match-pair">
                <span class="label label-info position">1</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">2</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">3</span>
                Alex Land and David Li
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Match 10</h3>
            </div>
            <div class="panel-body">
              <div class="pair-name match-pair">
                <span class="label label-info position">1</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">2</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">3</span>
                Alex Land and David Li
              </div>
            </div>
          </div>
            <div id="myDiv">
                <div id="show-modal" @click="showModal = true" class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Match other</h3>
                    </div>
                    <div class="panel-body">
                        <div class="pair-name match-pair">
                            <span class="label label-info position">1</span>
                            Alex Land and David Li
                        </div>
                        <div class="pair-name match-pair">
                            <span class="label label-info position">2</span>
                            Noor and Gordon
                        </div>
                        <div class="pair-name match-pair">
                            <span class="label label-info position">3</span>
                            Sam and Raymond
                        </div>
                    </div>
                </div>
                <mymodal :show.sync="showModal">
                    <h3 slot="header">custom header</h3>
                </mymodal>
            </div>
        </div>
        <div class="matches-mid">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Match 2</h3>
            </div>
            <div class="panel-body">
              <div class="pair-name match-pair">
                <span class="label label-info position">1</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">2</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">3</span>
                Alex Land and David Li
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Match 5</h3>
            </div>
            <div class="panel-body">
              <div class="pair-name match-pair">
                <span class="label label-info position">1</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">2</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">3</span>
                Alex Land and David Li
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Match 8</h3>
            </div>
            <div class="panel-body">
              <div class="pair-name match-pair">
                <span class="label label-info position">1</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">2</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">3</span>
                Alex Land and David Li
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Match 11</h3>
            </div>
            <div class="panel-body">
              <div class="pair-name match-pair">
                <span class="label label-info position">1</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">2</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">3</span>
                Alex Land and David Li
              </div>
            </div>
          </div>
        </div>
        <div class="matches-right">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Match 3</h3>
            </div>
            <div class="panel-body">
              <div class="pair-name match-pair">
                <span class="label label-info position">1</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">2</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">3</span>
                Alex Land and David Li
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Match 6</h3>
            </div>
            <div class="panel-body">
              <div class="pair-name match-pair">
                <span class="label label-info position">1</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">2</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">3</span>
                Alex Land and David Li
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Match 9</h3>
            </div>
            <div class="panel-body">
              <div class="pair-name match-pair">
                <span class="label label-info position">1</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">2</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">3</span>
                Alex Land and David Li
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Match 12</h3>
            </div>
            <div class="panel-body">
              <div class="pair-name match-pair">
                <span class="label label-info position">1</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">2</span>
                Alex Land and David Li
              </div>
              <div class="pair-name match-pair">
                <span class="label label-info position">3</span>
                Alex Land and David Li
              </div>
            </div>
          </div>
        </div>
      </div>

  </body>
  <script src="js/matches.js"></script>
  <script src="js/jquery-1.12.4.js"></script>
  <script src="js/vue.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
  <script src="bootstrap-material/dist/js/material.js"></script>
  <script src="js/header.js"></script>
  <script src="js/ladder.js"></script>
  <script src="js/app.js"></script>
</html>
