<!DOCTYPE html>
<html lang="en" xmlns:v-validate="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vancouver Racquets Club</title>

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap-material/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="bootstrap-material/dist/css/ripples.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/prj-web.css" rel="stylesheet">

</head>

<body style="min-width: 575px;">

<nav class="navbar navbar-info">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/ladder.html" class="svg-logo">
                <img src="img/vrclogo.png" class="navbar-brand"/>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="ladder.html">Ladder</a></li>
                <li><a href="groups.html">Groups</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="registration.html">Admin Panel</a></li>
                <li><a id="logout_nav" href="index.html">Log Out</a></li>
            </ul>
        </div>


    </div>
</nav>

<div class="loginwrapper">
    <h4 class="admin-panel-element admin-panel-header"> Admin Panel </h4>
    <div id="registrationForm" class="login panel panel-default admin-panel-element">
        <validator name="registrationFormValidator" :groups="['passwordGroup']" @valid="onValid" @invalid="onInvalid">
            <form class="form-horizontal">
                    <div class="div-btn-accounts">
                        <a class="btn btn-accounts" v-on:click="showCreateAccountDiv()">Create Account</a>
                        <a class="btn btn-accounts" v-on:click="showRemoveAccountDiv()">Remove Account</a>
                        <a class="btn btn-accounts" v-on:click="editPlayerInfo()">Edit Player</a>
                    </div>
                    <div id="createAccountDiv">
                        <legend style="margin-left: .5em;">Register User</legend>
                        <span style="margin-left: 1.5em"> (All fields must be filled.) </span>
                        <div class="form-group" v-validate-class style="margin-left: 1.5em; margin-right:1.5em;">
                            <label for="existingPlayer" class="control-label">Player:</label>
                            <v-select id="existingPlayer" v-validate:player="['existingPlayer']" :classes="{ invalid: 'has-error', }"
                                      label="label" :value.sync="existingPlayer" :options="existingPlayers"
                                      placeholder="Search for a player...">
                            </v-select>
                            <p class="help-block" v-if="$registrationFormValidator.player.invalid">You must select a player.</p>
                        </div>
                        <div class="checkbox" v-validate-class style="margin-left: 1.5em; margin-right:1.5em;">
                            <label>
                                <input type="checkbox" v-model="administrator"
                                       v-validate:player="['existingPlayer']"> Administrator
                            </label>
                        </div>
                        <div class="form-group label-floating" v-validate-class style="margin-left: 1.5em; margin-right:1.5em;">
                            <label for="inputEmail" class="control-label">Email:</label>
                            <input type="text" class="form-control" id="inputEmail" v-model="email"
                                   v-validate:email="['required', 'email']"
                                   :classes="{ invalid: 'has-error', }">
                            <p class="help-block" v-if="$registrationFormValidator.email.invalid">You must enter a valid email.</p>
                        </div>
                        <div class="form-group label-floating" v-validate-class style="margin-left: 1.5em; margin-right:1.5em;">
                            <label for="inputPassword" class="control-label">Password:</label>
                            <input type="password" class="form-control" id="inputPassword" v-model="password"
                                   v-validate:password="['required'], ['minLength']"  :classes="{ invalid: 'has-error', }">
                            <p class="help-block" v-if="$registrationFormValidator.password.invalid">You must enter a valid password.</p>
                        </div>
                        <div class="form-group label-floating" v-validate-class style="margin-left: 1.5em; margin-right:1.5em;">
                            <label for="inputPasswordConfirmation" class="control-label">Re-enter Password:</label>
                            <input type="password" class="form-control" id="inputPasswordConfirmation" group="passwordGroup" v-model="passwordConfirmation"
                                   v-validate:passwordConfirmation="['required', 'passwordConfirmation']" :classes="{ invalid: 'has-error', }">
                            <p class="help-block" v-if="$registrationFormValidator.passwordGroup.invalid">Your password does not match.</p>
                        </div>
                        <div class="form-group label-floating" v-validate-class style="margin-left: 1.5em; margin-right:1.5em; ">
                            <label for="inputSecQues" class="control-label">Please create a security question:</label>
                            <input class="form-control" id="inputSecQues" v-model="securityInfo.question"
                                   v-validate:question="['required']" :classes="{ invalid: 'has-error', }">
                        </div>
                        <div class="form-group label-floating" v-validate-class style="margin-left: 1.5em; margin-right:1.5em;">
                            <label for="inputSecAns" class="control-label">Security Answer:</label>
                            <input class="form-control" id="inputSecAns" v-model="securityInfo.answer"
                                   v-validate:answer="['required']" :classes="{ invalid: 'has-error', }">
                        </div>
                        <div class="col-md-10 ">
                            <button id="submitButton" type="submit" class="btn btn-success btn-raised" v-on:click="onSubmit()"
                                    style="margin-left: 45%; margin-right: 45%;" disabled="disabled">Submit</button>
                            <div id="loginAnimation" v-if="spinnerVisibility">
                                <clip-loader :color="color"></clip-loader>
                            </div>
                        </div>
                    </div>

                    <div id="removeAccountDiv" style="display: none">
                        <legend style="margin-left: .5em;">Delete User</legend>
                        <div class="form-group" v-validate-class style="margin-left: 1.5em; margin-right:1.5em; margin-top: 20px">
                            <label for="deletePlayer" class="control-label">Player:</label>
                            <v-select id="deletePlayer" v-validate:player="['deletePlayer']" :classes="{ invalid: 'has-error', }"
                                      label="label" :value.sync="deletePlayer" :options="users"
                                      placeholder="Search for a player...">
                            </v-select>
                            <p class="help-block" v-if="$registrationFormValidator.player.invalid">You must select a player.</p>
                        </div>
                        <div class="col-md-10 ">
                            <button id="submitButtonRemove" v-on:click="onDelete()" class="btn btn-success btn-raised"
                                    style="margin-left: 45%; margin-right: 45%;">Submit</button>
                            <div id="loginAnimationRemove" v-if="spinnerVisibility">
                                <clip-loader :color="color"></clip-loader>
                            </div>
                        </div>
                    </div>

                <div id="editPlayerDiv" style="display: none">
                    <legend style="margin-left: .5em;">Edit Player</legend>
                    <div class="alert alert-warning">
                        <h6>Player name and email will be populated upon selecting a player. <br>
                            An empty email suggests that an account has not yet been created for that player and so,
                            changes cannot be made to email and password for such players. <br> <br>
                            Leave the password empty if it is not to be changed.</h6>
                    </div>
                    <div class="form-group" v-validate-class style="margin-left: 1.5em; margin-right:1.5em; margin-top: 20px">
                        <label for="editPlayer" class="control-label">Player:</label>
                        <v-select id="editPlayer" v-validate:player="['editPlayer']" :classes="{ invalid: 'has-error', }"
                                  label="label" :value.sync="editPlayer" :options="allPlayers"
                                  placeholder="Search for a player...">
                        </v-select>
                        <p class="help-block" v-if="$registrationFormValidator.player.invalid">You must select a player.</p>
                    </div>
                    <div class="form-group modal-form-group" v-validate-class style="margin-left: 1.5em; margin-right:1.5em;">
                        <label for="playerFirst" class="control-label">First Name</label>
                        <input type="text" class="form-control" id="playerFirst" v-model="firstName"
                               v-validate:firstname="['alphaEmpty']" :classes="{ invalid: 'has-error', }">
                        <p class="help-block" v-if="$registrationFormValidator.firstname.invalid">Required field. Alphabetic characters only.</p>
                    </div>
                    <div class="form-group modal-form-group" v-validate-class style="margin-left: 1.5em; margin-right:1.5em;">
                        <label for="playerLast" class="control-label">Last Name</label>
                        <input type="text" class="form-control" id="playerLast" v-model="lastName"
                               v-validate:lastname="['alphaEmpty']" :classes="{ invalid: 'has-error', }">
                        <p class="help-block" v-if="$registrationFormValidator.lastname.invalid">Alphabetic characters only.</p>
                    </div>
                    <div class="form-group modal-form-group" v-validate-class style="margin-left: 1.5em; margin-right:1.5em;">
                        <label for="editEmail" class="control-label">Email:</label>
                        <input type="text" class="form-control" id="editEmail" v-model="editEmail"
                               v-validate:editEmail="['editEmail']"
                               :classes="{ invalid: 'has-error', }">
                        <p class="help-block" v-if="$registrationFormValidator.email.invalid">You must enter a valid email.</p>
                    </div>
                    <div class="form-group modal-form-group" v-validate-class style="margin-left: 1.5em; margin-right:1.5em;">
                        <label for="editPassword" class="control-label">New Password:</label>
                        <input type="password" class="form-control" id="editPassword" v-model="editPassword"
                               v-validate:editPassword="['editMinLength']"  :classes="{ invalid: 'has-error', }">
                        <p class="help-block" v-if="$registrationFormValidator.password.invalid">You must enter a valid password.</p>
                    </div>
                    <div class="form-group modal-form-group" v-validate-class style="margin-left: 1.5em; margin-right:1.5em;">
                        <label for="editPasswordConfirmation" class="control-label">Re-enter Password:</label>
                        <input type="password" class="form-control" id="editPasswordConfirmation" group="passwordGroup" v-model="editPasswordConfirmation"
                               v-validate:editPasswordConfirmation="['editPasswordConfirmation']" :classes="{ invalid: 'has-error', }">
                        <p class="help-block" v-if="$registrationFormValidator.passwordGroup.invalid">Your password does not match.</p>
                    </div>
                    <div class="col-md-10 ">
                        <button id="submitButtonEdit" v-on:click="onEditPlayer()" class="btn btn-success btn-raised"
                                style="margin-left: 45%; margin-right: 45%;" disabled>Submit</button>
                        <div id="loginAnimationEdit" v-if="spinnerVisibility">
                            <clip-loader :color="color"></clip-loader>
                        </div>
                    </div>
                </div>

                </fieldset>
            </form>
        </validator>
    </div>
</div>

</body>

<!-- Scripts run after DOM is loaded -->
<script src="vendors/jquery-1.12.4.js"></script>
<script src="vendors/vue.js"></script>
<script src="vendors/vue-validator.js"></script>
<script src="vendors/vue-spinner.js"></script>
<script src="vendors/vue-select.js"></script>
<script src="vendors/jscookie.js"></script>
<script src="vendors/bootstrap.js"></script>
<script src="vendors/material.js"></script>
<script src="vendors/ripples.js"></script>
<script src="js/header.js"></script>
<script src="js/api.js"></script>
<script src="js/registration.js"></script>

</html>
